@use "../utils/variables" as *;
@use "../utils/mixins";

footer {

    background-color: $primary;
    color: white;
    height: 50px;

    & .footerPages {

       
          display: inline-block;
          flex-direction: row;
          list-style-type: none;
          align-items: center;
  
      }
  }
    


@include mixins.tablet {
  footer {
    font-size: 14px;
  }
}

@include mixins.desktop {
  footer {
    font-size: 16px;
    margin-top: 0;
  }
}
