@use "../utils/variables" as *;
@use "../utils/mixins";

footer {

  background-color: $primary;
  color: white;
  height: 130px;
  padding-top: 20px;
  text-decoration: none;


  & .footerPages {


    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    
  
  }

  & p {

    margin-left: 75em;
    margin-top: 1em;
  }
}


@include mixins.tablet {
  footer {
    font-size: 14px;
  }
}

@include mixins.desktop {
  footer {
    font-size: 16px;
    margin-top: 0;
  }
}