@use "../utils/variables" as *;
@use "../utils/mixins";

/* -- Header -- */
footer {

  background-color: $primary;
  width: 100%;
  color: $white-color;

  & li {

    list-style-type: none;

  }


  & .footer-menu__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 20px;
    transition: transform .2s;
  }

    & .footer-menu__link:hover {
      transform: scale(1.1);
    }

  & p {
    margin-left: 50px;

  }
}
