@use "../utils/variables" as *;
@use "../utils/mixins";

header {

    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    justify-content:space-around;
   
}

.header_nav ul {

    display: flex;
    color: $primary;
    font-size: 29.2px;

    & li {

        display : flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        padding-right: 280px;
        color: $primary;

    }
}

.logo {

}

.buttonConnexion {

height : 60px;
width: 250px;
background-color: $primary;
color: white;
font-weight: bolder;

}

.connexionSection {
 
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding-right: 30px;
    align-items: center;


    & .connexionIcon {

        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;

    }
}