@use "../utils/variables" as *;
@use "../utils/mixins";


img {
    
    width: 300px; /* Largeur de chaque image */
    height: 300px; /* Hauteur de chaque image */
    //overflow: hidden; /* Pour cacher tout contenu dépassant de la taille spécifiée */
    border-radius: 5%;
    display: inline-block;
    object-fit: cover;
    
}
h1{
 font-family: "Open-sans", sans-serif;
 font-size: 25px; 
 text-align: justify;
 margin-bottom: 10%;
 font-weight: normal;
}

h2{
    margin-top: 7%;
    margin-bottom: -13px;
   margin-inline-start: 62px;
}
    

h1{
    text-align: center;
}

ul {
    list-style-type: none; /* Permet de supprimer la marque du li */
}
  

 
a {
    text-decoration: none; /* Permet de supprimer la ligne en dessous du lien */
}
   
.theme-card {
    display: inline-block;
    text-align: center; 
    margin: 20px;
   
}


div {
    
}