@use "../utils/variables" as *;
@use "../utils/mixins";

body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
  width: 80%;

  }
  
/*
  #app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
*/



