@use "../utils/variables" as *;
@use "../utils/mixins";

.search {
    background-color: #ffbd59;
    padding: 4rem;

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;

        @media screen and (max-width: 768px) {
            grid-template-columns: 2fr 2fr;
        }

        @media screen and (max-width: 576px) {
            grid-template-columns: 1fr;
        }

        select {
            padding: 1rem;
            border-radius: 8px;
            height: 40px;
            border: none;
            background-color: $white-color;
        }
    }
}

.restaurant-card__img {
   
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    height: 40%;
    width: 30%;
    
    }

  

