@use "../utils/variables" as *;
@use "../utils/mixins";


.restaurant {
    background-color: white;
}

.title_restaurant{
    margin-top: 7%;
    margin-bottom: -13px;
   margin-inline-start: 62px;
}
    
.theme-card {
    display: inline-block;
    text-align: center; 
    margin: 20px;
   
}



    
    // .pictures {
    //     width: 300px; /* Largeur de chaque image */
    //     height: 300px; /* Hauteur de chaque image */
    //     /* overflow: hidden; Pour cacher tout contenu dépassant de la taille spécifiée */
    //     border-radius: 5%;
    //     display: inline-block;
    //     object-fit: cover;
    //     list-style-type: none; /* Permet de supprimer la marque du li */
    // }


.restaurant-grid {
    background-color: white;
}



 
.theme-card__button {
    text-decoration: none; /* Permet de supprimer la ligne en dessous du lien */
}
   

.theme-card__informations {
    list-style-type: none; /* Permet de supprimer la marque du li */
}

